---
platforms:
  ubuntu1804:
    test_targets:
    - "@rules_foreign_cc_tests//:tests"
  ubuntu1604:
    test_targets:
    - "@rules_foreign_cc_tests//:tests_no_synthetic"
  macos:
    test_targets:
    - "@rules_foreign_cc_tests//:cmake_tests"
