---
tasks:
  ubuntu1804:
    platform: ubuntu1804
    working_directory: examples
    test_targets:
    - "//:tests"
  ubuntu1604:
    platform: ubuntu1604
    working_directory: examples
    test_targets:
      - "//:tests"
  macos:
    platform: macos
    working_directory: examples
    test_targets:
      - "//:tests"
  windows:
    platform: windows
    working_directory: examples
    test_targets:
      - "//:tests"
