---
tasks:
  ubuntu2004:
    platform: ubuntu2004
    build_targets:
      - "//..."
    test_targets:
      - "//..."
  rbe_ubuntu1604:
    platform: rbe_ubuntu1604
    build_targets:
      - "//..."
    test_targets:
      - "//..."
  macos:
    platform: macos
    build_targets:
      - "//..."
    test_targets:
      - "//..."
  windows:
    platform: windows
    build_targets:
      - "//..."
    test_targets:
      - "//..."
      # TODO: https://github.com/bazelbuild/rules_foreign_cc/issues/495
      - "-//test:shell_method_symlink_contents_to_dir_test"
      - "-//test:shell_script_inner_fun_test"
  ubuntu2004_examples:
    name: Examples
    platform: ubuntu2004
    working_directory: examples
    build_targets:
      - "//..."
    test_targets:
      - "//..."
      - "//:third_party_examples_linux_tests"
  rbe_ubuntu1604_examples:
    name: Examples
    platform: rbe_ubuntu1604
    working_directory: examples
    build_targets:
      - "//..."
    test_targets:
      - "//..."
      - "//:third_party_examples_linux_tests"
  macos_examples:
    name: Examples
    platform: macos
    working_directory: examples
    build_targets:
      - "//..."
    test_targets:
      - "//..."
      - "//:third_party_examples_macos_tests"
  windows_examples:
    name: Examples
    platform: windows
    working_directory: examples
    windows_targets: &windows_targets
      - "//..."
      - "//:third_party_examples_windows_tests"
      # TODO: Support all targets on windows
      - "-//cmake_android/..."
      - "-//cmake_defines/..."
      - "-//cmake_hello_world_lib/..."
      - "-//cmake_synthetic/..."
      - "-//cmake_with_bazel_transitive/..."
      - "-//cmake_working_dir/..."
      - "-//configure_with_bazel_transitive/..."
      - "-//make_simple/..."
      - "-//ninja_simple/..."
    build_targets: *windows_targets
    test_targets: *windows_targets
    test_flags:
      - "--enable_runfiles"
  rbe_ubuntu1604_flags:
    name: Flags
    platform: rbe_ubuntu1604
    working_directory: test/standard_cxx_flags_test
    test_targets:
      - "//:flags_test"
  ubuntu2004_flags:
    name: Flags
    platform: ubuntu2004
    working_directory: test/standard_cxx_flags_test
    test_targets:
      - "//:flags_test"
  macos_flags:
    name: Flags
    platform: macos
    working_directory: test/standard_cxx_flags_test
    test_targets:
      - "//:flags_test"
  windows_flags:
    name: Flags
    platform: windows
    working_directory: test/standard_cxx_flags_test
    test_targets:
      - "//:flags_test"
  rbe_ubuntu1604_detect_root:
    name: Detect root
    platform: rbe_ubuntu1604
    working_directory: test/detect_root_test
    test_targets:
      - "//:tests"
  ubuntu2004_detect_root:
    name: Detect root
    platform: ubuntu2004
    working_directory: test/detect_root_test
    test_targets:
      - "//:tests"
  macos_detect_root:
    name: Detect root
    platform: macos
    working_directory: test/detect_root_test
    test_targets:
      - "//:tests"
  windows_detect_root:
    name: Detect root
    platform: windows
    working_directory: test/detect_root_test
    test_targets:
      - "//:tests"
  docs_linux:
    name: Docs
    platform: ubuntu2004
    working_directory: docs
    build_targets:
      - //...
  min_supported_version:
    name: "Minimum Supported Version"
    bazel: "3.4.0"
    platform: ubuntu1604
    build_targets:
      - "//..."
    test_targets:
      - "//..."
  min_supported_version_examples:
    name: "Minimum Supported Version Examples"
    bazel: "3.4.0"
    platform: ubuntu1604
    working_directory: examples
    build_targets:
      - "//..."
    test_targets:
      - "//..."

buildifier:
  version: latest
  warnings: "all"
