rule collect_env
  command = sh -c 'rm -f "$$SHELLVARS_FILE" "$out" && touch "$$SHELLVARS_FILE" && {{VARIABLES}} && sed -i.bak -e "s|$$BUILD_TMPDIR|{{BUILD_TMPDIR}}|g" -e "s|$$EXT_BUILD_DEPS|{{EXT_BUILD_DEPS}}|g" -e "s|$$INSTALLDIR|{{INSTALLDIR}}|g" -e "s|$$EXT_BUILD_ROOT|{{EXT_BUILD_ROOT}}|g" "$$SHELLVARS_FILE" && touch "$out"'

build out: collect_env

default out
