build --host_platform=@rules_foreign_cc_toolchains_examples//:fancy_platform --platforms=@rules_foreign_cc_toolchains_examples//:fancy_platform
test --host_platform=@rules_foreign_cc_toolchains_examples//:fancy_platform --platforms=@rules_foreign_cc_toolchains_examples//:fancy_platform